@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/_all";

.preview-wrapper {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}

#preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

footer {
	box-shadow: -2px -2px rgba(0, 0, 0, 0.06);
}

@import "../node_modules/bulma/bulma.sass";
